:root {
  --e-global-color-primary: #7b0023;
  --e-global-color-secondary: #690620;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #13491b;
  --e-global-color-header-background: #390a18;
  --color-green: #008c45;
  --color-white: #f4f9ff;
  --color-red: #cd212a;
}

#root {
  max-width: 1280px;
  width: 100%;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

p {
  margin: 0;
}
