:root {
  --e-global-color-primary: #7b0023;
  --e-global-color-secondary: #690620;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #13491b;
  --color-background-1: #390a18;
  --color-background-2: #2e0a17;
  --color-green: #008c45;
  --color-white: #f4f9ff;
  --color-red: #cd212a;
  --color-blue: #1976d2;
}

#root {
  width: 100%;
  text-align: center;
  background-color: var(--color-background-2);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: Andika;
}

p {
  margin: 0;
}
